footer {
    background-color: rgb(26, 31, 46);
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    color:rgb(248, 247, 243);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.horaires {
    text-align: center;
    font-size: 20px;
    padding-top: 40px;
}

.contacts {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.contacts-image {
    width: 42px;
}

.contacts-ul {
    display: flex;
    gap: 130px;
}

.contacts-li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avis-important {
    text-align: center;
    font-size: 14px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 5px;
}

.separateur {
    margin-top: 35px;
    margin-left: 80px;
    margin-right: 80px;
}

.liens {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.liens-ul {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-right: 38px;
    margin-top: 20px;
}

.logo-footer {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;
}



@media screen and (max-width: 600px) {

    .contacts-ul {
        flex-direction: column;
        gap: 15px;
        margin-top: 40px;
        align-items: center;
    }

    .contacts {
        text-align: center;
    }

    .avis-important {
        padding-left: 50px;
        padding: 50px;
    }

    .liens-ul {
        flex-direction: column;
        gap: 10px;
    }

    .liens {
        margin-top: 40px;
    }

    .logo-footer {
        margin-bottom: 80px;
    }
}
